[program:{{app}}]
user={{user}}
directory=/home/{{user}}/{{app}}
autostart=true
autorestart=unexpected
stdout_logfile=/home/{{user}}/{{app}}/out.log
stderr_logfile=/home/{{user}}/{{app}}/error.log
environment={{app_environment | mandatory | replace('\n', ',')}}
command=bash bin/server_run.sh
